<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui">
	
	<composite:interface>
		<composite:attribute name="id" required="false" />
		<composite:attribute name="value" required="true" />
		<composite:attribute name="label" required="true" />
		<composite:attribute name="styleCss" default="30" />
		<composite:attribute name="required" default="false" />
		<composite:attribute name="size" default="12" />
		<composite:attribute name="validatorId" />
		
	</composite:interface>
	
	<composite:implementation>
		<div class="#{cc.attrs.styleCss} espacoDireita">
			<p:outputLabel for="#{cc.attrs.id}" value="#{cc.attrs.label}: " />
	   		<p:calendar id="#{cc.attrs.id}" value="#{cc.attrs.value}"  showOn="button" pattern="dd/MM/yyyy" mask="true" size="#{cc.attrs.size}" 
	   			required="#{cc.attrs.required}">
	   			<c:if test="#{cc.attrs.validatorId != null}">
		   			<f:validator validatorId="#{cc.attrs.validatorId}" />
				</c:if>
   			</p:calendar>
			<p:message for="#{cc.attrs.id}:#{cc.attrs.id}" />
		</div>
	</composite:implementation>
</html>