<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui">
	
	<composite:interface>
		<composite:attribute name="id" required="false" />
		<composite:attribute name="value" required="true" />
		<composite:attribute name="var" required="true" />
		
		<composite:attribute name="rows" default="15" />
		<composite:attribute name="lazy" default="false" />
		
	</composite:interface>

	<composite:implementation>
		<p:dataTable id="#{cc.attrs.id}"
			value="#{cc.attrs.value}" lazy="#{cc.attrs.lazy}"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			emptyMessage="Nenhum registro encontrado" paginator="true" rows="#{cc.attrs.rows}"
			paginatorPosition="bottom">
			<c:set target="#{component}" property="var" value="#{cc.attrs.var}"/>
			<composite:insertChildren />
			
		</p:dataTable>
	
	</composite:implementation>
</html>