<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui">
	
	<composite:interface>
		<composite:attribute name="id" required="false" />
		<composite:attribute name="value" required="true" />
		<composite:attribute name="label" required="true" />
		<composite:attribute name="required" default="false" />
		<composite:attribute name="styleCss" default="30" />
		<composite:attribute name="size" default="30" />
		<composite:attribute name="maxlength" default="20" />
		<composite:attribute name="placeholder" default="" />
		<composite:attribute name="converterId" />
		<composite:attribute name="immediate" default="false" />

		<composite:attribute name="mask" default="" />
		<composite:attribute name="disabled" default="false" />
		
		<composite:clientBehavior name="changeEvent" event="change" targets="#{cc.attrs.id}:#{cc.attrs.id}" />
        <composite:clientBehavior name="blurEvent" event="blur" targets="#{cc.attrs.id}:#{cc.attrs.id}" />
	</composite:interface>
	
	<composite:implementation>
		<div class="#{cc.attrs.styleCss} espacoDireita">
			<p:outputLabel for="#{cc.attrs.id}" value="#{cc.attrs.label}: " />
			<p:inputMask id="#{cc.attrs.id}" value="#{cc.attrs.value}" size="#{cc.attrs.size}"
				required="#{cc.attrs.required}"
				immediate="#{cc.attrs.immediate}"
				maxlength="#{cc.attrs.maxlength}" placeholder="#{cc.attrs.placeholder}"
				disabled="#{cc.attrs.disabled}" mask="#{cc.attrs.mask}">
				<c:if test="#{cc.attrs.converterId != null}">
					<f:converter converterId="#{cc.attrs.converterId}" />
				</c:if>
				<composite:insertChildren />
			</p:inputMask>
			<p:message for="#{cc.attrs.id}:#{cc.attrs.id}" />
		</div>
	</composite:implementation>
</html>