<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui">
	
	<composite:interface>
		<composite:attribute name="id" />
		<composite:attribute name="value" required="true" />
		<composite:attribute name="label" required="true" />
		<composite:attribute name="render" default="true" />
		<composite:attribute name="converterId" />
		<composite:attribute name="styleCss" />
	</composite:interface>
	
	<composite:implementation>
		<c:if test="#{cc.attrs.render}">
			<div class="#{cc.attrs.styleCss} espacoDireita ">
				<p:outputLabel for="#{cc.attrs.id}" value="#{cc.attrs.label}: " />
				<c:choose>
					<c:when test="#{cc.attrs.converterId != null}">
						<p:outputLabel value="#{cc.attrs.value}">
							<f:converter converterId="#{cc.attrs.converterId}" />
						</p:outputLabel>
					</c:when>
					<c:otherwise>
						<h:outputLabel value="#{cc.attrs.value}" />
					</c:otherwise>
				</c:choose>
			</div>
		</c:if>
	</composite:implementation>
</html>