<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui">
	
	<composite:interface>
		<composite:attribute name="id" required="false" />
		<composite:attribute name="value" required="true" />
		<composite:attribute name="label" required="true" />
		<composite:attribute name="list" required="true" />
		<composite:attribute name="itemLabel" required="true" />
		<composite:attribute name="itemValue" required="true" />
		<composite:attribute name="converterId" />
		
		<composite:attribute name="selectionOption" default="true" />
		<composite:attribute name="styleCss" />
		<composite:attribute name="required" default="false" />
		<composite:attribute name="size" default="12" />
		<composite:attribute name="disabled" default="false" />
		
		<composite:clientBehavior name="changeEvent" event="change" targets="#{cc.attrs.id}:#{cc.attrs.id}" />
        <composite:clientBehavior name="blurEvent" event="blur" targets="#{cc.attrs.id}:#{cc.attrs.id}" />
        
	</composite:interface>
	
	<composite:implementation>
		<div class="#{cc.attrs.styleCss} espacoDireita">
			<p:outputLabel for="#{cc.attrs.id}" value="#{cc.attrs.label}: " />
			<br />
	   		<p:selectOneMenu id="#{cc.attrs.id}" style="width:125px" value="#{cc.attrs.value}" readonly="#{cc.attrs.readonly}" 
	   			disabled="#{cc.attrs.disabled}" required="#{cc.attrs.required}">
				<f:selectItem noSelectionOption="#{cc.attrs.selectionOption}" itemLabel="Selecione" itemValue="#{null}" />
			
				<f:selectItems value="#{cc.attrs.list}" var="var"
					itemLabel="#{var[cc.attrs.itemLabel]}" itemValue="#{var[cc.attrs.itemValue]}" />
				
				<c:if test="#{cc.attrs.converterId != null}">
					<f:converter converterId="#{cc.attrs.converterId}" />
				</c:if>
			</p:selectOneMenu>
			<p:message for="#{cc.attrs.id}:#{cc.attrs.id}" />
		</div>
	</composite:implementation>
</html>